<a href="https://colab.research.google.com/github/Lokesh1479/LetsUpgrade-PythonEssentials/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Day 3 Assignment

In [4]:
#1
a=int(input("enter altitude:"))
if a<=1000:
  print("Safe to Land")
elif a>5000:
  print("Turn Around and Try later")
else:
  print("Come down to 1000ft")

enter altitude:1000
Safe to Land

In [7]:
#2
for num in range (1, 201):
    c= 0
    for i in range(2, (num//2 + 1)):
        if(num % i == 0):
            c = c + 1
            break

    if (c == 0 and num != 1):
        print(num,end = ',')

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,101,103,107,109,113,127,131,137,139,149,151,157,163,167,173,179,181,191,193,197,199,